.cache/
.bash_history
.ccls-cache/
known_hosts*
.ssh/github_actions*
build-cache.el
# backup file
*~
*.sql

# org gcal
.org-generic-id-locations
.org-id-locations
org-gcal/
persist/

#
secrets.sh

#
Code/*
!Code/User
Code/User/*/