[submodule ".emacs.d/packages/gud-lldb"]
	path = .emacs.d/packages/gud-lldb
	url = https://github.com/jojojames/gud-lldb.git
[submodule ".emacs.d/packages/lsp-docker+"]
	path = .emacs.d/packages/lsp-docker+
	url = git@github.com:y-kitamu/emacs-lsp-docker-plus.git
[submodule ".emacs.d/packages/yk"]
	path = .emacs.d/packages/yk
	url = git@github.com:y-kitamu/yk_elisp.git
[submodule ".emacs.d/straight/repos/lsp-docker"]
	path = .emacs.d/straight/repos/lsp-docker
	url = https://github.com/emacs-lsp/lsp-docker.git
[submodule ".emacs.d/straight/repos/emacs-lsp-docker-plus"]
	path = .emacs.d/straight/repos/emacs-lsp-docker-plus
	url = https://github.com/y-kitamu/emacs-lsp-docker-plus.git
[submodule ".emacs.d/straight/repos/init-loader"]
	path = .emacs.d/straight/repos/init-loader
	url = https://github.com/emacs-jp/init-loader.git
[submodule ".emacs.d/straight/repos/lsp-ui"]
	path = .emacs.d/straight/repos/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
