[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[user]
	email = ymyk6602@gmail.com
	name = Kitamura

[core]
	autocrlf = input
[github]
	user = kitamura
[init]
	defaultBranch = main
[url "git@github-y-kitamu:y-kitamu"]
    insteadOf = git@github.com:y-kitamu
[url "git@github-kitamura12810630:kitamura12810630"]
     insteadOf = git@github.com:kitamura12810630
[url "git@github-ffsst:FFS-kiban"]
     insteadOf = git@github.com:FFS-kiban
