# emacs cache file
.emacs.d/cache/
.emacs.d/recentf
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa/archives
.emacs.d/tramp
.emacs.d/.emacs.desktop*
.emacs.d/junk
.emacs.d/request
.emacs.d/ac-comphist.dat
.emacs.d/irony/bin/
.emacs.d/session.*
.emacs.d/transient/

.cache/
.bash_history

# backup file
*~
