.cache/
.bash_history
.ccls-cache/
known_hosts*
.ssh/github_actions*
.ssh/id_*
build-cache.el
# backup file
*~
*.sql

# vscode
Code/*
!Code/User
Code/User/*/

# copilot
.copilot/ide/
.copilot/logs/
.copilot/pkg/
.copilot/session-state/
.copilot/command-history-state.json
.copilot/config.json
