/cache/
/recentf
/auto-save-list
/backups
/elpa/
/tramp
/.emacs.desktop*
/documents
/request
/ac-comphist.dat
/irony/
/url/
/.python-environments/
/session.*
/transient/
/elpy/
/elpa_bk/
session.*
kkcrc
.lsp-session*
.extension
.dap-breakpoints
/image-dired/
custom.el
*.elc
/server/
forge-database.sqlite
/eshell/
/.cask/